/* si applica a tutto */

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    padding: 20px;
    /* background-image: url(../lggithub.io/pizza.jpg); */
}

@media(max-width: 600px) {
    body {
        background-color: red;
    }
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

header {
    margin-bottom: 40px;
}

header,
footer {
    border: 1px black solid;
    text-align: center;
    height: 100px;
    color: blue;
    font-size: 2em;
}

form {
    border: 1px solid gray;
    padding: 30px 20px;
    border-radius: 30px;
}

label {
    width: 20%;
    display: inline-block;
}

nav li {
    display: inline-block;
    width: 50%;
    padding: 10px;
    border: 1px solid gray;
}


/* id */

#content {
    border: 2px dotted green;
}

#sideMenu {
    width: 30%;
    font-size: 2em;
}

#main {
    width: 70%;
    /* display: inline; */
}


/* classi */

.bottone {
    border: 1px solid green;
    background-color: red;
    color: white;
    transition: background-color 2s;
}

.bottone:hover {
    color: blue;
    background-color: white;
}

.bottone_large {
    width: 300px;
    font-size: 20px;
    background-color: red;
    transition: all 4s ease-in-out;
}

.bottone_large:hover {
    color: blue;
    background-color: white;
}

.withBorder {
    border: 1px solid gray;
}

.formItem {
    margin-bottom: 20px;
}

.formItem:hover {
    background-color: gray;
}

.titolo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.box {
    border: 2px solid red;
    border-top-color: green;
    display: inline-block;
    width: 30%;
    padding: 10px;
    margin: 5px;
}

h1.titolo {
    font-size: 28px;
    text-decoration: underline;
}

#spesa.img {
    width: 500 px;
    height: auto;
}